In [3]:
import pandas as pd

bp= pd.read_csv(r"C:\Users\Khushi\Desktop\BP.csv")

In [4]:
bp.head()

,Patient_Number,Blood_Pressure_Abnormality,Level_of_Hemoglobin,Genetic_Pedigree_Coefficient,Age,BMI,Sex,Pregnancy,Smoking,Physical_activity,salt_content_in_the_diet,alcohol_consumption_per_day,Level_of_Stress,Chronic_kidney_disease,Adrenal_and_thyroid_disorders
0,1,1,11.28,0.90,34,23,1,1.0,0,45961,48071,NaN,2,1,1
1,2,0,9.75,0.23,54,33,1,NaN,0,26106,25333,205.0,3,0,0
2,3,1,10.79,0.91,70,49,0,NaN,0,9995,29465,67.0,2,1,0
3,4,0,11.00,0.43,71,50,0,NaN,0,10635,7439,242.0,1,1,0
4,5,1,14.17,0.83,52,19,0,NaN,0,15619,49644,397.0,2,0,0

In [5]:
bp.isnull().sum()

Patient_Number                      0
Blood_Pressure_Abnormality          0
Level_of_Hemoglobin                 0
Genetic_Pedigree_Coefficient       92
Age                                 0
BMI                                 0
Sex                                 0
Pregnancy                        1558
Smoking                             0
Physical_activity                   0
salt_content_in_the_diet            0
alcohol_consumption_per_day       242
Level_of_Stress                     0
Chronic_kidney_disease              0
Adrenal_and_thyroid_disorders       0
dtype: int64

# IMPUTE variables

In [15]:
bp.Pregnancy = bp.Pregnancy.fillna(0)
bp.Genetic_Pedigree_Coefficient = bp.Genetic_Pedigree_Coefficient.fillna(bp.Genetic_Pedigree_Coefficient.median())
bp.alcohol_consumption_per_day = bp.alcohol_consumption_per_day.fillna(0) ## assuming sabhya janta

In [14]:
bp.alcohol_consumption_per_day.median()

250.0

In [17]:
bp.isnull().sum()

Patient_Number                   0
Blood_Pressure_Abnormality       0
Level_of_Hemoglobin              0
Genetic_Pedigree_Coefficient     0
Age                              0
BMI                              0
Sex                              0
Pregnancy                        0
Smoking                          0
Physical_activity                0
salt_content_in_the_diet         0
alcohol_consumption_per_day      0
Level_of_Stress                  0
Chronic_kidney_disease           0
Adrenal_and_thyroid_disorders    0
dtype: int64

In [22]:
bp_x  =bp.iloc[ : , 2:15]  ## select test data
bp_x.head()
bp_x = pd.concat([bp.iloc[ : , 0],bp_x],axis=1)

In [23]:
bp_x.head()

,Patient_Number,Level_of_Hemoglobin,Genetic_Pedigree_Coefficient,Age,BMI,Sex,Pregnancy,Smoking,Physical_activity,salt_content_in_the_diet,alcohol_consumption_per_day,Level_of_Stress,Chronic_kidney_disease,Adrenal_and_thyroid_disorders
0,1,11.28,0.90,34,23,1,1.0,0,45961,48071,0.0,2,1,1
1,2,9.75,0.23,54,33,1,0.0,0,26106,25333,205.0,3,0,0
2,3,10.79,0.91,70,49,0,0.0,0,9995,29465,67.0,2,1,0
3,4,11.00,0.43,71,50,0,0.0,0,10635,7439,242.0,1,1,0
4,5,14.17,0.83,52,19,0,0.0,0,15619,49644,397.0,2,0,0

In [25]:
bp_y = bp.iloc [:, 1]  
bp_y.head()

0    1
1    0
2    1
3    0
4    1
Name: Blood_Pressure_Abnormality, dtype: int64

In [27]:
import sklearn

from sklearn.model_selection import train_test_split

In [28]:
bp_x_train, bp_x_test,bp_y_train, bp_y_test = train_test_split(bp_x, bp_y, test_size= 0.2 , random_state = 101)
## seed in R is similar to random_state in Python

In [29]:
###random forest

from sklearn.ensemble import RandomForestClassifier

rfc = RandomForestClassifier()
rfc.fit(bp_x_train, bp_y_train)

C:\Users\Khushi\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [30]:
pred_rf = rfc.predict(bp_x_test)

In [31]:
pred_rf

array([0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0,
       1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0,
       1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1,
       0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1,
       0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0,
       1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1,
       1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0,
       0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1,
       1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0,
       1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1,
       1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0,
       1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1,
       0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0,
       0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1,
       0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0,
       0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1,
       0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0,
       0, 0, 0, 0], dtype=int64)

In [32]:
##create confusion matrix

from sklearn.metrics import confusion_matrix

tab= confusion_matrix (pred_rf, bp_y_test)
tab

array([[176,  30],
       [ 24, 170]], dtype=int64)

In [33]:
tab.diagonal().sum()  / tab.sum() *100   #### gives the accuracy

86.5

In [34]:
## Feature selection

list(rfc.feature_importances_)  ### higher the value more significant is the feature
                                    ### one to one mapping with columns

[0.05444423117514038,
 0.22048684978680497,
 0.2480333935062254,
 0.04525537442886445,
 0.046252189379674666,
 0.01792510876916882,
 0.005843147838394735,
 0.007598599439874092,
 0.04979825274880469,
 0.05301359870480403,
 0.0496387543532336,
 0.010802914581066459,
 0.12424692399547549,
 0.06666066129246832]

In [40]:
df_2 = pd.DataFrame({'Feature_name':list(bp_x_train.columns),'Feature_score':list(rfc.feature_importances_)}) 
df_2.sort_values(['Feature_score'], ascending=False)

### feature score is distributed in Random forest amongst all the variables

                     Feature_name  Feature_score
2    Genetic_Pedigree_Coefficient       0.248033
1             Level_of_Hemoglobin       0.220487
12         Chronic_kidney_disease       0.124247
13  Adrenal_and_thyroid_disorders       0.066661
0                  Patient_Number       0.054444
9        salt_content_in_the_diet       0.053014
8               Physical_activity       0.049798
10    alcohol_consumption_per_day       0.049639
4                             BMI       0.046252
3                             Age       0.045255
5                             Sex       0.017925
11                Level_of_Stress       0.010803
7                         Smoking       0.007599
6                       Pregnancy       0.005843

# END##############################

# Remove duplicates and count

In [86]:
CTG1 = cr.drop_duplicates()

In [87]:
CTG1.NSP.value_counts()

1    790
2    152
3     88
Name: NSP, dtype: int64

In [88]:
### create a new dataframe which has all the records of CTG NSP=1 --> DF1
### create a new dataframe which has all the records of CTG NSP=2 or 3 -->DF2
### combine DF1 and DF2 to get Df3

In [89]:
DF1 = cr[cr.NSP==1]
DF1
DF1 = DF1.drop_duplicates()
DF1.NSP.value_counts()

1    790
Name: NSP, dtype: int64

In [106]:
DF2 = cr[cr.NSP != 1]
DF2
DF2.NSP.value_counts()

2    295
3    176
Name: NSP, dtype: int64

In [121]:
DF3.head()

     LB     AC     FM  NSP
1   132  0.006  0.000    1
2   133  0.003  0.000    1
3   134  0.003  0.000    1
4   132  0.007  0.000    1
12  131  0.005  0.072    1

In [104]:
DF3 = pd.concat([DF1,DF2],axis=0) 
DF3
DF3.NSP.value_counts()

1    790
2    295
3    176
Name: NSP, dtype: int64

In [111]:
DF3_x  =DF3.iloc[ : , 0:3]
DF3_x.head(2)

    LB     AC   FM
1  132  0.006  0.0
2  133  0.003  0.0

In [112]:
DF3_y = DF3.iloc [:, -1]  
DF3_y.head()

1     1
2     1
3     1
4     1
12    1
Name: NSP, dtype: int64

In [115]:
## SAMPLING
import sklearn

from sklearn.model_selection import train_test_split

In [116]:
DF3_x_train, DF3_x_test,DF3_y_train, DF3_y_test = train_test_split(DF3_x, DF3_y, test_size= 0.2 , random_state = 101)
## seed in R is similar to random_state in Python

In [ ]:
##decision tree

In [98]:
from sklearn.tree import DecisionTreeClassifier

In [99]:
dtree = DecisionTreeClassifier(min_samples_split = 100)  ##create an instance

In [117]:
dtree.fit (DF3_x_train, DF3_y_train)   ###buid a decision tree

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=100,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [118]:
pred_value_dt = dtree.predict(DF3_x_test)
pred_value_dt

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 3, 2, 1, 3, 3, 3, 1, 1, 2, 1, 1, 1, 1,
       1, 1, 1, 1, 2, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 2, 2, 1, 1, 1, 3, 1,
       2, 1, 3, 3, 2, 3, 3, 3, 2, 1, 1, 1, 1, 2, 1, 1, 3, 3, 1, 1, 1, 1,
       1, 2, 1, 2, 1, 2, 1, 3, 1, 3, 1, 3, 1, 1, 2, 2, 1, 1, 3, 1, 1, 1,
       1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 3, 1, 2, 1, 2, 1, 1, 3, 1, 1,
       2, 2, 2, 3, 2, 1, 1, 1, 1, 1, 1, 3, 2, 3, 1, 1, 3, 2, 1, 1, 1, 1,
       2, 2, 1, 1, 1, 1, 1, 3, 1, 1, 1, 1, 1, 2, 3, 1, 1, 1, 1, 1, 1, 1,
       1, 2, 1, 3, 1, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 3, 1, 1, 1, 2, 1,
       2, 1, 1, 1, 1, 1, 1, 1, 3, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       2, 1, 1, 1, 2, 1, 2, 1, 2, 3, 1, 2, 2, 3, 1, 2, 1, 1, 1, 1, 3, 2,
       1, 1, 1, 1, 1, 1, 2, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 3, 1, 1, 1,
       3, 2, 1, 1, 3, 1, 1, 1, 1, 1, 2], dtype=int64)

In [119]:
from sklearn.metrics import confusion_matrix

tab= confusion_matrix (pred_value_dt, DF3_y_test)
tab
tab.diagonal().sum()  / tab.sum() *100   #### gives the accuracy

78.26086956521739

In [120]:
tab

array([[148,  15,  12],
       [ 10,  32,   3],
       [  9,   6,  18]], dtype=int64)

In [123]:
###random forest

from sklearn.ensemble import RandomForestClassifier

rfc = RandomForestClassifier()
rfc.fit(DF3_x_train, DF3_y_train)

C:\Users\Khushi\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [124]:
pred_rf = rfc.predict(DF3_x_test)

In [125]:
pred_rf

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 3, 2, 3, 2, 1, 1, 1, 1, 1, 1,
       1, 3, 1, 1, 2, 1, 1, 1, 2, 2, 1, 1, 1, 1, 1, 2, 2, 1, 1, 3, 2, 1,
       2, 1, 1, 3, 2, 3, 3, 2, 2, 1, 1, 1, 1, 2, 1, 3, 1, 2, 1, 1, 1, 1,
       1, 2, 1, 2, 3, 2, 1, 3, 1, 3, 1, 1, 1, 1, 3, 2, 1, 1, 3, 1, 2, 3,
       1, 1, 2, 2, 1, 1, 1, 1, 1, 2, 1, 1, 2, 1, 2, 1, 2, 2, 1, 3, 1, 1,
       2, 2, 2, 3, 2, 1, 1, 1, 1, 1, 1, 3, 2, 1, 1, 1, 3, 2, 1, 1, 1, 1,
       2, 2, 1, 1, 1, 1, 1, 3, 1, 1, 3, 1, 1, 2, 3, 1, 1, 1, 1, 1, 1, 1,
       3, 2, 1, 3, 1, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 3, 1, 1, 1, 1, 1,
       1, 3, 1, 1, 1, 1, 1, 1, 2, 1, 2, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       2, 3, 1, 1, 2, 3, 2, 1, 2, 3, 1, 2, 1, 3, 1, 2, 1, 2, 1, 1, 1, 2,
       1, 1, 3, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 2, 1, 1, 1, 1, 2, 1, 1, 1,
       2, 2, 3, 1, 3, 1, 1, 2, 1, 1, 2], dtype=int64)

In [126]:
##create confusion matrix

from sklearn.metrics import confusion_matrix

tab= confusion_matrix (pred_rf, DF3_y_test)
tab

array([[146,  14,   3],
       [ 13,  36,   9],
       [  8,   3,  21]], dtype=int64)

In [127]:
tab.diagonal().sum()  / tab.sum() *100   #### gives the accuracy

80.23715415019763