In [2]:
import pandas as pd

cr= pd.read_csv(r"C:\Users\Khushi\Desktop\CGT.csv")

In [3]:
cr.head()

    LB     AC   FM  NSP
0  120  0.000  0.0    2
1  132  0.006  0.0    1
2  133  0.003  0.0    1
3  134  0.003  0.0    1
4  132  0.007  0.0    1

In [4]:
cr.isnull().sum()

LB     0
AC     0
FM     0
NSP    0
dtype: int64

In [5]:
cr_x  =cr.iloc[ : , 0:3]  ## select test data

In [6]:
cr_x.head(2)

    LB     AC   FM
0  120  0.000  0.0
1  132  0.006  0.0

In [7]:
cr_y = cr.iloc [:, -1]  
cr_y.head()

0    2
1    1
2    1
3    1
4    1
Name: NSP, dtype: int64

In [8]:
import sklearn

from sklearn.model_selection import train_test_split

In [9]:
cr_x_train, cr_x_test,cr_y_train, cr_y_test = train_test_split(cr_x, cr_y, test_size= 0.2 , random_state = 101)
## seed in R is similar to random_state in Python

In [10]:
###random forest

from sklearn.ensemble import RandomForestClassifier

rfc = RandomForestClassifier()
rfc.fit(cr_x_train, cr_y_train)

C:\Users\Khushi\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [11]:
pred_rf = rfc.predict(cr_x_test)

In [12]:
pred_rf

array([1, 1, 1, 1, 3, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 3, 3, 1, 2, 1, 2, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 3,
       2, 1, 3, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 3,
       1, 1, 1, 1, 1, 2, 3, 1, 1, 1, 1, 2, 1, 1, 1, 2, 1, 1, 2, 1, 1, 1,
       1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 3, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       2, 1, 3, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 2, 2, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 3, 1, 2, 1, 1, 1, 3, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 3, 1, 1, 1, 1, 1, 1,
       2, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 2, 2, 2, 1, 1, 1, 1, 1, 1,
       1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 2, 2, 1, 2, 3, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 2, 1, 1, 1, 2,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 3, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 3, 3,
       2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 3, 1, 2, 1, 1, 3,
       1, 1, 2, 2, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 2, 1, 1, 1, 3, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 3, 1, 1, 1, 1, 2, 1,
       1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 3, 1, 1, 1, 1, 1, 1, 1, 1, 2, 3, 1,
       1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 3, 1, 1, 1, 1, 1,
       1, 1, 1, 2, 1, 1, 3, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 3, 1, 1, 1, 1,
       1, 3, 2, 1, 1, 1, 2, 1], dtype=int64)

In [13]:
##create confusion matrix

from sklearn.metrics import confusion_matrix

tab= confusion_matrix (pred_rf, cr_y_test)
tab

array([[308,  23,  19],
       [ 17,  30,   2],
       [  5,   7,  15]], dtype=int64)

In [27]:
tab.diagonal().sum()  / tab.sum() *100   #### gives the accuracy

82.86384976525821

In [28]:
## Feature selection

list(rfc.feature_importances_)  ### higher the value more significant is the feature
                                    ### one to one mapping with columns

[0.5087321748727758, 0.2712465134645534, 0.2200213116626708]

In [29]:
df_2 = pd.DataFrame({'Feature_name':list(cr_x_train.columns),'Feature_score':list(rfc.feature_importances_)}) 
df_2.sort_values(['Feature_score'], ascending=False)

### feature score is distributed in Random forest amongst all the variables

  Feature_name  Feature_score
0           LB       0.508732
1           AC       0.271247
2           FM       0.220021

In [30]:
cr.NSP.value_counts()

1    1655
2     295
3     176
Name: NSP, dtype: int64

# Remove duplicates and count

In [31]:
CTG1 = cr.drop_duplicates()

In [32]:
CTG1.NSP.value_counts()

1    790
2    152
3     88
Name: NSP, dtype: int64

In [33]:
### create a new dataframe which has all the records of CTG NSP=1 --> DF1
### create a new dataframe which has all the records of CTG NSP=2 or 3 -->DF2
### combine DF1 and DF2 to get Df3

In [34]:
DF1 = cr[cr.NSP==1]
DF1
DF1 = DF1.drop_duplicates()
DF1.NSP.value_counts()

1    790
Name: NSP, dtype: int64

In [35]:
DF2 = cr[cr.NSP != 1]
DF2
DF2.NSP.value_counts()

2    295
3    176
Name: NSP, dtype: int64

In [36]:
DF3.head()

NameError: name 'DF3' is not defined

In [37]:
DF3 = pd.concat([DF1,DF2],axis=0) 
DF3
DF3.NSP.value_counts()

1    790
2    295
3    176
Name: NSP, dtype: int64

In [38]:
DF3_x  =DF3.iloc[ : , 0:3]
DF3_x.head(2)

    LB     AC   FM
1  132  0.006  0.0
2  133  0.003  0.0

In [39]:
DF3_y = DF3.iloc [:, -1]  
DF3_y.head()

1     1
2     1
3     1
4     1
12    1
Name: NSP, dtype: int64

In [40]:
## SAMPLING
import sklearn

from sklearn.model_selection import train_test_split

In [41]:
DF3_x_train, DF3_x_test,DF3_y_train, DF3_y_test = train_test_split(DF3_x, DF3_y, test_size= 0.2 , random_state = 101)
## seed in R is similar to random_state in Python

In [42]:
##decision tree

In [43]:
from sklearn.tree import DecisionTreeClassifier

In [44]:
dtree = DecisionTreeClassifier(min_samples_split = 100)  ##create an instance

In [45]:
dtree.fit (DF3_x_train, DF3_y_train)   ###buid a decision tree

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=100,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [46]:
pred_value_dt = dtree.predict(DF3_x_test)
pred_value_dt

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 3, 2, 1, 3, 3, 3, 1, 1, 2, 1, 1, 1, 1,
       1, 1, 1, 1, 2, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 2, 2, 1, 1, 1, 3, 1,
       2, 1, 3, 3, 2, 3, 3, 3, 2, 1, 1, 1, 1, 2, 1, 1, 3, 3, 1, 1, 1, 1,
       1, 2, 1, 2, 1, 2, 1, 3, 1, 3, 1, 3, 1, 1, 2, 2, 1, 1, 3, 1, 1, 1,
       1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 3, 1, 2, 1, 2, 1, 1, 3, 1, 1,
       2, 2, 2, 3, 2, 1, 1, 1, 1, 1, 1, 3, 2, 3, 1, 1, 3, 2, 1, 1, 1, 1,
       2, 2, 1, 1, 1, 1, 1, 3, 1, 1, 1, 1, 1, 2, 3, 1, 1, 1, 1, 1, 1, 1,
       1, 2, 1, 3, 1, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 3, 1, 1, 1, 2, 1,
       2, 1, 1, 1, 1, 1, 1, 1, 3, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       2, 1, 1, 1, 2, 1, 2, 1, 2, 3, 1, 2, 2, 3, 1, 2, 1, 1, 1, 1, 3, 2,
       1, 1, 1, 1, 1, 1, 2, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 3, 1, 1, 1,
       3, 2, 1, 1, 3, 1, 1, 1, 1, 1, 2], dtype=int64)

In [47]:
from sklearn.metrics import confusion_matrix

tab= confusion_matrix (pred_value_dt, DF3_y_test)
tab
tab.diagonal().sum()  / tab.sum() *100   #### gives the accuracy

78.26086956521739

In [48]:
tab

array([[148,  15,  12],
       [ 10,  32,   3],
       [  9,   6,  18]], dtype=int64)

In [49]:
###random forest

from sklearn.ensemble import RandomForestClassifier

rfc = RandomForestClassifier()
rfc.fit(DF3_x_train, DF3_y_train)

C:\Users\Khushi\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [50]:
pred_rf = rfc.predict(DF3_x_test)

In [51]:
pred_rf

array([1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 2, 2, 3, 2, 3, 2, 1, 1, 1, 1, 1, 1,
       1, 3, 1, 1, 2, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 2, 2, 1, 1, 3, 2, 1,
       2, 1, 1, 1, 2, 3, 3, 2, 2, 1, 1, 1, 1, 2, 1, 3, 3, 3, 1, 1, 1, 1,
       1, 2, 1, 2, 3, 2, 1, 3, 1, 3, 1, 1, 1, 1, 3, 2, 1, 1, 3, 1, 2, 3,
       1, 1, 2, 2, 1, 1, 1, 1, 1, 2, 1, 1, 2, 1, 2, 1, 2, 1, 1, 3, 1, 1,
       2, 2, 2, 2, 2, 1, 1, 1, 1, 1, 1, 3, 2, 2, 1, 1, 3, 2, 1, 1, 1, 1,
       2, 2, 1, 1, 1, 1, 1, 3, 3, 1, 3, 1, 1, 2, 3, 1, 1, 1, 1, 1, 1, 1,
       3, 2, 1, 2, 1, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 3, 1, 1, 1, 1, 1,
       2, 3, 1, 1, 1, 1, 1, 1, 2, 1, 2, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1,
       2, 3, 1, 1, 2, 3, 2, 1, 2, 3, 1, 2, 2, 3, 1, 2, 2, 2, 1, 1, 1, 2,
       1, 1, 3, 1, 1, 1, 2, 1, 2, 1, 1, 1, 1, 2, 1, 1, 1, 1, 2, 1, 1, 1,
       2, 2, 3, 1, 3, 1, 1, 1, 1, 1, 2], dtype=int64)

In [52]:
##create confusion matrix

from sklearn.metrics import confusion_matrix

tab= confusion_matrix (pred_rf, DF3_y_test)
tab

array([[145,  11,   3],
       [ 15,  37,  10],
       [  7,   5,  20]], dtype=int64)

In [53]:
tab.diagonal().sum()  / tab.sum() *100   #### gives the accuracy

79.84189723320159

# LDA

In [55]:
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis as lda

lda =  lda()

lda.fit_transform(DF3_x_train, DF3_y_train)

pred_lda= lda.predict(DF3_x_test)

pred_lda

array([1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 2, 1, 1, 1, 1, 2, 2, 2, 1, 1, 1, 2,
       1, 3, 1, 1, 2, 1, 1, 2, 2, 1, 1, 1, 1, 1, 1, 2, 2, 1, 1, 1, 1, 1,
       2, 1, 1, 1, 2, 2, 2, 1, 2, 1, 1, 1, 1, 2, 1, 3, 2, 2, 1, 1, 1, 1,
       1, 2, 1, 2, 1, 2, 1, 1, 2, 1, 1, 1, 1, 1, 2, 2, 1, 1, 1, 1, 1, 1,
       1, 1, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 2, 2, 1, 1, 1, 1,
       2, 2, 2, 1, 2, 1, 1, 1, 2, 1, 1, 1, 2, 1, 1, 1, 1, 2, 1, 1, 1, 1,
       2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1,
       3, 2, 1, 2, 1, 2, 2, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 2, 1,
       2, 1, 1, 1, 2, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1,
       2, 1, 1, 1, 2, 1, 2, 1, 2, 1, 1, 2, 2, 1, 1, 2, 1, 2, 1, 1, 1, 2,
       1, 1, 3, 1, 1, 1, 2, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1,
       1, 2, 1, 1, 1, 1, 1, 2, 1, 3, 2], dtype=int64)

In [56]:
from sklearn.metrics import confusion_matrix

tab= confusion_matrix (pred_lda, DF3_y_test)
tab

array([[147,  12,  24],
       [ 19,  41,   5],
       [  1,   0,   4]], dtype=int64)

In [57]:
tab.diagonal().sum()  / tab.sum() *100   #### gives the accuracy

75.8893280632411