In [1]:
###Feature selection|

#1. Lasso's
#2. Fit function - chi square
#3. Randomforest
#4. Decision tree
#5. Boruta -  Wrapper on Random forest
#6 . RFE (Recursive Feature Elimination)

## Dimensionality reduction

#1. PCA
#2. t- sne

In [70]:
import pandas as pd

##cr= pd.read_csv("C:/Users/Khushi/Documents/Credit_Risk_Test_data.csv")

cr= pd.read_csv(r"C:\Users\Khushi\Downloads\CreditRisk.csv")

In [71]:
cr.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0.0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1.0,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0.0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0.0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0.0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [72]:
cr.describe

<bound method NDFrame.describe of       Loan_ID  Gender Married  Dependents     Education Self_Employed  \
0    LP001002    Male      No         0.0      Graduate            No
1    LP001003    Male     Yes         1.0      Graduate            No
2    LP001005    Male     Yes         0.0      Graduate           Yes
3    LP001006    Male     Yes         0.0  Not Graduate            No
4    LP001008    Male      No         0.0      Graduate            No
5    LP001011    Male     Yes         2.0      Graduate           Yes
6    LP001013    Male     Yes         0.0  Not Graduate            No
7    LP001014    Male     Yes         4.0      Graduate            No
8    LP001018    Male     Yes         2.0      Graduate            No
9    LP001020    Male     Yes         1.0      Graduate            No
10   LP001024    Male     Yes         2.0      Graduate            No
11   LP001027    Male     Yes         2.0      Graduate           NaN
12   LP001028    Male     Yes         2.0      Graduate            No
13   LP001029    Male      No         0.0      Graduate            No
14   LP001030    Male     Yes         2.0      Graduate            No
15   LP001032    Male      No         0.0      Graduate            No
16   LP001034    Male      No         1.0  Not Graduate            No
17   LP001036  Female      No         0.0      Graduate            No
18   LP001038    Male     Yes         0.0  Not Graduate            No
19   LP001041    Male     Yes         0.0      Graduate           NaN
20   LP001043    Male     Yes         0.0  Not Graduate            No
21   LP001046    Male     Yes         1.0      Graduate            No
22   LP001047    Male     Yes         0.0  Not Graduate            No
23   LP001050     NaN     Yes         2.0  Not Graduate            No
24   LP001052    Male     Yes         1.0      Graduate           NaN
25   LP001066    Male     Yes         0.0      Graduate           Yes
26   LP001068    Male     Yes         0.0      Graduate            No
27   LP001073    Male     Yes         2.0  Not Graduate            No
28   LP001086    Male      No         0.0  Not Graduate            No
29   LP001087  Female      No         2.0      Graduate           NaN
..        ...     ...     ...         ...           ...           ...
951  LP002856    Male     Yes         0.0      Graduate            No
952  LP002857    Male     Yes         1.0      Graduate           Yes
953  LP002858  Female      No         0.0      Graduate            No
954  LP002860    Male     Yes         0.0      Graduate           Yes
955  LP002867    Male      No         0.0      Graduate           Yes
956  LP002869    Male     Yes         4.0  Not Graduate            No
957  LP002870    Male     Yes         1.0      Graduate            No
958  LP002876    Male      No         0.0      Graduate            No
959  LP002878    Male     Yes         4.0      Graduate            No
960  LP002879    Male     Yes         0.0      Graduate            No
961  LP002885    Male      No         0.0  Not Graduate            No
962  LP002890    Male     Yes         2.0  Not Graduate            No
963  LP002891    Male     Yes         0.0      Graduate           Yes
964  LP002899    Male     Yes         2.0      Graduate            No
965  LP002901    Male      No         0.0      Graduate            No
966  LP002907    Male     Yes         0.0      Graduate            No
967  LP002920    Male     Yes         0.0      Graduate            No
968  LP002921    Male     Yes         4.0  Not Graduate            No
969  LP002932    Male     Yes         4.0      Graduate            No
970  LP002935    Male     Yes         1.0      Graduate            No
971  LP002952    Male      No         0.0      Graduate            No
972  LP002954    Male     Yes         2.0  Not Graduate            No
973  LP002962    Male      No         0.0      Graduate            No
974  LP002965  Female     Yes         0.0      Graduate            No
975  LP002969    Male     Yes         1.0      Graduate            No
976  LP002971    Male     Yes         4.0  Not Graduate           Yes
977  LP002975    Male     Yes         0.0      Graduate            No
978  LP002980    Male      No         0.0      Graduate            No
979  LP002986    Male     Yes         0.0      Graduate            No
980  LP002989    Male      No         0.0      Graduate           Yes

     ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
0               5849                0.0         NaN             360.0
1               4583             1508.0       128.0             360.0
2               3000                0.0        66.0             360.0
3               2583             2358.0       120.0             360.0
4               6000                0.0       141.0             360.0
5               5417             4196.0       267.0             360.0
6               2333             1516.0        95.0             360.0
7               3036             2504.0       158.0             360.0
8               4006             1526.0       168.0             360.0
9              12841            10968.0       349.0             360.0
10              3200              700.0        70.0             360.0
11              2500             1840.0       109.0             360.0
12              3073             8106.0       200.0             360.0
13              1853             2840.0       114.0             360.0
14              1299             1086.0        17.0             120.0
15              4950                0.0       125.0             360.0
16              3596                0.0       100.0             240.0
17              3510                0.0        76.0             360.0
18              4887                0.0       133.0             360.0
19              2600             3500.0       115.0               NaN
20              7660                0.0       104.0             360.0
21              5955             5625.0       315.0             360.0
22              2600             1911.0       116.0             360.0
23              3365             1917.0       112.0             360.0
24              3717             2925.0       151.0             360.0
25              9560                0.0       191.0             360.0
26              2799             2253.0       122.0             360.0
27              4226             1040.0       110.0             360.0
28              1442                0.0        35.0             360.0
29              3750             2083.0       120.0             360.0
..               ...                ...         ...               ...
951             2292             1558.0       119.0             360.0
952             2360             3355.0        87.0             240.0
953             4333             2333.0       162.0             360.0
954             2623             4831.0       122.0             180.0
955             3972             4275.0       187.0             360.0
956             3522                0.0        81.0             180.0
957             4700                0.0        80.0             360.0
958             6858                0.0       176.0             360.0
959             8334                0.0       260.0             360.0
960             3391             1966.0       133.0             360.0
961             2868                0.0        70.0             360.0
962             3418             1380.0       135.0             360.0
963             2500              296.0       137.0             300.0
964             8667                0.0       254.0             360.0
965             2283            15000.0       106.0             360.0
966             5817              910.0       109.0             360.0
967             5119             3769.0       120.0             360.0
968             5316              187.0       158.0             180.0
969             7603             1213.0       197.0             360.0
970             3791             1936.0        85.0             360.0
971             2500                0.0        60.0             360.0
972             3132                0.0        76.0             360.0
973             4000             2667.0       152.0             360.0
974             8550             4255.0        96.0             360.0
975             2269             2167.0        99.0             360.0
976             4009             1777.0       113.0             360.0
977             4158              709.0       115.0             360.0
978             3250             1993.0       126.0             360.0
979             5000             2393.0       158.0             360.0
980             9200                0.0        98.0             180.0

     Credit_History Property_Area Loan_Status
0               1.0         Urban           Y
1               1.0         Rural           N
2               1.0         Urban           Y
3               1.0         Urban           Y
4               1.0         Urban           Y
5               1.0         Urban           Y
6               1.0         Urban           Y
7               0.0     Semiurban           N
8               1.0         Urban           Y
9               1.0     Semiurban           N
10              1.0         Urban           Y
11              1.0         Urban           Y
12              1.0         Urban           Y
13              1.0         Rural           N
14              1.0         Urban           Y
15              1.0         Urban           Y
16              NaN         Urban           Y
17              0.0         Urban           N
18              1.0         Rural           N
19              1.0         Urban           Y
20              0.0         Urban           N
21              1.0         Urban           Y
22              0.0     Semiurban           N
23              0.0         Rural           N
24              NaN     Semiurban           N
25              1.0     Semiurban           Y
26              1.0     Semiurban           Y
27              1.0         Urban           Y
28              1.0         Urban           N
29              1.0     Semiurban           Y
..              ...           ...         ...
951             1.0         Urban           Y
952             1.0         Rural           Y
953             0.0         Rural           N
954             1.0     Semiurban           Y
955             1.0         Rural           Y
956             1.0         Rural           N
957             1.0         Urban           Y
958             1.0         Rural           Y
959             1.0         Urban           Y
960             0.0         Rural           N
961             1.0         Urban           Y
962             1.0         Urban           Y
963             1.0         Rural           Y
964             1.0         Rural           Y
965             NaN         Rural           Y
966             1.0         Urban           Y
967             1.0         Rural           Y
968             0.0     Semiurban           Y
969             1.0         Urban           Y
970             1.0         Urban           Y
971             1.0         Urban           Y
972             NaN         Rural           Y
973             1.0     Semiurban           Y
974             NaN         Urban           Y
975             1.0     Semiurban           Y
976             1.0         Urban           Y
977             1.0         Urban           Y
978             NaN     Semiurban           Y
979             1.0         Rural           N
980             1.0         Rural           Y

[981 rows x 13 columns]>

In [73]:
cr.shape

(981, 13)

In [74]:
cr.isnull().sum()       ###how many nulls for each columns

Loan_ID               0
Gender               24
Married               3
Dependents           25
Education             0
Self_Employed        55
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           27
Loan_Amount_Term     20
Credit_History       79
Property_Area         0
Loan_Status           0
dtype: int64

In [75]:
cr.Credit_History = cr.Credit_History.fillna(0)  ##maximum na's Credit_History - imputw with zeroes

In [76]:
cr.isnull().sum()

Loan_ID               0
Gender               24
Married               3
Dependents           25
Education             0
Self_Employed        55
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           27
Loan_Amount_Term     20
Credit_History        0
Property_Area         0
Loan_Status           0
dtype: int64

In [77]:
cr.Self_Employed.value_counts()

No     807
Yes    119
Name: Self_Employed, dtype: int64

In [78]:
cr.Self_Employed = cr.Self_Employed.fillna("No")  ##deal with Self_employed

In [79]:
cr.isnull().sum()

Loan_ID               0
Gender               24
Married               3
Dependents           25
Education             0
Self_Employed         0
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           27
Loan_Amount_Term     20
Credit_History        0
Property_Area         0
Loan_Status           0
dtype: int64

In [80]:
cr.LoanAmount  ## IMPUTE WITH MEDIAN

0        NaN
1      128.0
2       66.0
3      120.0
4      141.0
5      267.0
6       95.0
7      158.0
8      168.0
9      349.0
10      70.0
11     109.0
12     200.0
13     114.0
14      17.0
15     125.0
16     100.0
17      76.0
18     133.0
19     115.0
20     104.0
21     315.0
22     116.0
23     112.0
24     151.0
25     191.0
26     122.0
27     110.0
28      35.0
29     120.0
       ...
951    119.0
952     87.0
953    162.0
954    122.0
955    187.0
956     81.0
957     80.0
958    176.0
959    260.0
960    133.0
961     70.0
962    135.0
963    137.0
964    254.0
965    106.0
966    109.0
967    120.0
968    158.0
969    197.0
970     85.0
971     60.0
972     76.0
973    152.0
974     96.0
975     99.0
976    113.0
977    115.0
978    126.0
979    158.0
980     98.0
Name: LoanAmount, Length: 981, dtype: float64

In [81]:
med_value = cr.LoanAmount.median()
med_value

126.0

In [82]:
cr.LoanAmount = cr.LoanAmount.fillna(cr.LoanAmount.median())  ##Impute with median

In [83]:
cr.isnull().sum()

Loan_ID               0
Gender               24
Married               3
Dependents           25
Education             0
Self_Employed         0
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            0
Loan_Amount_Term     20
Credit_History        0
Property_Area         0
Loan_Status           0
dtype: int64

In [84]:
##deal with dependents
cr.Dependents.value_counts()

0.0    545
2.0    160
1.0    160
4.0     90
3.0      1
Name: Dependents, dtype: int64

In [85]:
cr.Dependents = cr.Dependents.fillna(0)  ##impute with mode

In [86]:
cr.isnull().sum()

Loan_ID               0
Gender               24
Married               3
Dependents            0
Education             0
Self_Employed         0
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            0
Loan_Amount_Term     20
Credit_History        0
Property_Area         0
Loan_Status           0
dtype: int64

In [87]:
##deal with Gender
cr.Gender.value_counts()

Male      775
Female    182
Name: Gender, dtype: int64

In [88]:
##impute with mode
cr.Gender= cr.Gender.fillna("Male")

In [89]:
cr.isnull().sum()

Loan_ID               0
Gender                0
Married               3
Dependents            0
Education             0
Self_Employed         0
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            0
Loan_Amount_Term     20
Credit_History        0
Property_Area         0
Loan_Status           0
dtype: int64

In [90]:
cr.Loan_Amount_Term.value_counts()

360.0    823
180.0     66
480.0     23
300.0     20
240.0      8
84.0       7
120.0      4
36.0       3
60.0       3
12.0       2
350.0      1
6.0        1
Name: Loan_Amount_Term, dtype: int64

In [91]:
cr.Loan_Amount_Term.median()

360.0

In [92]:
##pass median to impute
cr.Loan_Amount_Term = cr.Loan_Amount_Term.fillna(cr.Loan_Amount_Term.median())

In [93]:
cr.isnull().sum()

Loan_ID              0
Gender               0
Married              3
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [94]:
cr.Loan_Amount_Term.min()

6.0

In [95]:
cr.Married.value_counts()

Yes    631
No     347
Name: Married, dtype: int64

In [96]:
cr.Married = cr.Married.fillna("No")  ### go with No assuming he is not married also in case of GRADUATE NO

In [97]:
cr.isnull().sum() ##all will be zeroes now

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [98]:
cr = cr.dropna()  ### make sure no nulls - timepass

# REPLACE WITH NUMERIC - HOT ENCODING

In [99]:
cr.Gender.replace({"Male" : 1, "Female" : 0}, inplace = True)

In [100]:
cr.Married.replace({"Yes":1,"No":0}, inplace = True)

In [101]:
cr.Education.replace({"Graduate":1,"Not Graduate":0}, inplace = True)

In [102]:
cr.Self_Employed.replace({"Yes":1,"No":0}, inplace = True)

In [103]:
cr.Property_Area.replace({"Urban":2,"Semiurban":1,"Rural" : 3}, inplace = True)

In [104]:
cr.Loan_Status.replace({"Y":1,"N":0}, inplace= True)

In [105]:
cr.describe()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
count,981.000000,981.000000,981.000000,981.000000,981.000000,981.000000,981.000000,981.000000,981.000000,981.000000,981.000000,981.000000
mean,0.814475,0.643221,0.859327,0.777778,0.121305,5179.795107,1601.916330,142.057085,342.564730,0.768603,1.939857,0.725790
std,0.388921,0.479293,1.247278,0.415952,0.326648,5695.104533,2718.772806,76.395592,64.482011,0.421940,0.805245,0.446343
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,9.000000,6.000000,0.000000,1.000000,0.000000
25%,1.000000,0.000000,0.000000,1.000000,0.000000,2875.000000,0.000000,101.000000,360.000000,1.000000,1.000000,0.000000
50%,1.000000,1.000000,0.000000,1.000000,0.000000,3800.000000,1110.000000,126.000000,360.000000,1.000000,2.000000,1.000000
75%,1.000000,1.000000,2.000000,1.000000,0.000000,5516.000000,2365.000000,160.000000,360.000000,1.000000,3.000000,1.000000
max,1.000000,1.000000,4.000000,1.000000,1.000000,81000.000000,41667.000000,700.000000,480.000000,1.000000,3.000000,1.000000

# convert numeric back to factor

In [106]:
cr.Gender   = cr.Gender.astype('category')
cr.Married  =cr.Married.astype('category')
cr.Self_Employed= cr.Self_Employed.astype('category')
cr.Loan_Status= cr.Loan_Status.astype('category')
cr.Education=cr.Education.astype('category')
cr.Property_Area=cr.Property_Area.astype('category')

In [107]:
cr.describe(include= 'all')

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
count,981,981.0,981.0,981.000000,981.0,981.0,981.000000,981.000000,981.000000,981.000000,981.000000,981.0,981.0
unique,981,2.0,2.0,NaN,2.0,2.0,NaN,NaN,NaN,NaN,NaN,3.0,2.0
top,LP001210,1.0,1.0,NaN,1.0,0.0,NaN,NaN,NaN,NaN,NaN,1.0,1.0
freq,1,799.0,631.0,NaN,763.0,862.0,NaN,NaN,NaN,NaN,NaN,349.0,712.0
mean,NaN,NaN,NaN,0.859327,NaN,NaN,5179.795107,1601.916330,142.057085,342.564730,0.768603,NaN,NaN
std,NaN,NaN,NaN,1.247278,NaN,NaN,5695.104533,2718.772806,76.395592,64.482011,0.421940,NaN,NaN
min,NaN,NaN,NaN,0.000000,NaN,NaN,0.000000,0.000000,9.000000,6.000000,0.000000,NaN,NaN
25%,NaN,NaN,NaN,0.000000,NaN,NaN,2875.000000,0.000000,101.000000,360.000000,1.000000,NaN,NaN
50%,NaN,NaN,NaN,0.000000,NaN,NaN,3800.000000,1110.000000,126.000000,360.000000,1.000000,NaN,NaN
75%,NaN,NaN,NaN,2.000000,NaN,NaN,5516.000000,2365.000000,160.000000,360.000000,1.000000,NaN,NaN
max,NaN,NaN,NaN,4.000000,NaN,NaN,81000.000000,41667.000000,700.000000,480.000000,1.000000,NaN,NaN

In [108]:
type(cr.Property_Area)

pandas.core.series.Series

In [109]:
cr.shape

(981, 13)

In [110]:
cr.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,1,0,0.0,1,0,5849,0.0,126.0,360.0,1.0,2,1
1,LP001003,1,1,1.0,1,0,4583,1508.0,128.0,360.0,1.0,3,0
2,LP001005,1,1,0.0,1,1,3000,0.0,66.0,360.0,1.0,2,1
3,LP001006,1,1,0.0,0,0,2583,2358.0,120.0,360.0,1.0,2,1
4,LP001008,1,0,0.0,1,0,6000,0.0,141.0,360.0,1.0,2,1

# sampling

In [111]:
cr_x  =cr.iloc[ : , 1:12]  ## select test data

In [112]:
cr_x.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,1,0,0.0,1,0,5849,0.0,126.0,360.0,1.0,2
1,1,1,1.0,1,0,4583,1508.0,128.0,360.0,1.0,3
2,1,1,0.0,1,1,3000,0.0,66.0,360.0,1.0,2
3,1,1,0.0,0,0,2583,2358.0,120.0,360.0,1.0,2
4,1,0,0.0,1,0,6000,0.0,141.0,360.0,1.0,2

In [113]:
cr_y = cr.iloc [:, -1]    ###select the last column

In [114]:
cr_y.head()

0    1
1    0
2    1
3    1
4    1
Name: Loan_Status, dtype: category
Categories (2, int64): [0, 1]

# Fit function - using chi2 SelectKBest

In [115]:
from sklearn.feature_selection import VarianceThreshold
from sklearn.feature_selection import SelectFromModel
from sklearn.ensemble import RandomForestClassifier
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2

In [116]:
test = SelectKBest(score_func  = chi2, k ='all')

In [117]:
fitted = test.fit(cr_x, cr_y)

In [118]:
import numpy as np

list(fitted.scores_)

[0.1631697491732269,
 2.587613329148895,
 0.2261005368922207,
 1.1513042479428612,
 0.9055370801258988,
 2293.09933408766,
 9575.131586894373,
 44.47580053967265,
 23.067396760268487,
 57.332753806689,
 4.922659878770546]

In [119]:
df_1 = pd.DataFrame({'Feature_name':list(cr_x.columns),'Feature_score':list(fitted.scores_)}) 
df_1
df_1.sort_values(['Feature_score'],ascending = False)

         Feature_name  Feature_score
6   CoapplicantIncome    9575.131587
5     ApplicantIncome    2293.099334
9      Credit_History      57.332754
7          LoanAmount      44.475801
8    Loan_Amount_Term      23.067397
10      Property_Area       4.922660
1             Married       2.587613
3           Education       1.151304
4       Self_Employed       0.905537
2          Dependents       0.226101
0              Gender       0.163170

# Boruta

In [120]:
## wrapper on Random Forest

In [121]:
##perc(between 90 to 100)

In [122]:
from sklearn.ensemble import RandomForestClassifier
from boruta import BorutaPy

In [123]:
import numpy as np

In [124]:
rf= RandomForestClassifier()

In [125]:
boruta_feature_selector = BorutaPy(rf, random_state =111, max_iter=50, perc=100, verbose=2)
boruta_feature_selector

BorutaPy(alpha=0.05,
         estimator=RandomForestClassifier(bootstrap=True, class_weight=None,
                                          criterion='gini', max_depth=None,
                                          max_features='auto',
                                          max_leaf_nodes=None,
                                          min_impurity_decrease=0.0,
                                          min_impurity_split=None,
                                          min_samples_leaf=1,
                                          min_samples_split=2,
                                          min_weight_fraction_leaf=0.0,
                                          n_estimators='warn', n_jobs=None,
                                          oob_score=False, random_state=None,
                                          verbose=0, warm_start=False),
         max_iter=50, n_estimators=1000, perc=100, random_state=111,
         two_step=True, verbose=2)

In [128]:
colnames =  list(cr_x.columns)

In [129]:
cr_x  = np.array(cr_x)

In [130]:
boruta_feature_selector.fit(cr_x, cr_y)

Iteration: 	1 / 50
Confirmed: 	0
Tentative: 	11
Rejected: 	0
Iteration: 	2 / 50
Confirmed: 	0
Tentative: 	11
Rejected: 	0
Iteration: 	3 / 50
Confirmed: 	0
Tentative: 	11
Rejected: 	0
Iteration: 	4 / 50
Confirmed: 	0
Tentative: 	11
Rejected: 	0
Iteration: 	5 / 50
Confirmed: 	0
Tentative: 	11
Rejected: 	0
Iteration: 	6 / 50
Confirmed: 	0
Tentative: 	11
Rejected: 	0
Iteration: 	7 / 50
Confirmed: 	0
Tentative: 	11
Rejected: 	0
Iteration: 	8 / 50
Confirmed: 	2
Tentative: 	1
Rejected: 	8
Iteration: 	9 / 50
Confirmed: 	2
Tentative: 	1
Rejected: 	8
Iteration: 	10 / 50
Confirmed: 	2
Tentative: 	1
Rejected: 	8
Iteration: 	11 / 50
Confirmed: 	2
Tentative: 	1
Rejected: 	8
Iteration: 	12 / 50
Confirmed: 	2
Tentative: 	1
Rejected: 	8
Iteration: 	13 / 50
Confirmed: 	2
Tentative: 	1
Rejected: 	8
Iteration: 	14 / 50
Confirmed: 	2
Tentative: 	1
Rejected: 	8
Iteration: 	15 / 50
Confirmed: 	2
Tentative: 	1
Rejected: 	8
Iteration: 	16 / 50
Confirmed: 	2
Tentative: 	1
Rejected: 	8
Iteration: 	17 / 50
Confirmed: 	2
Tentative: 	1
Rejected: 	8
Iteration: 	18 / 50
Confirmed: 	2
Tentative: 	1
Rejected: 	8
Iteration: 	19 / 50
Confirmed: 	2
Tentative: 	1
Rejected: 	8
Iteration: 	20 / 50
Confirmed: 	2
Tentative: 	1
Rejected: 	8
Iteration: 	21 / 50
Confirmed: 	2
Tentative: 	1
Rejected: 	8
Iteration: 	22 / 50
Confirmed: 	2
Tentative: 	1
Rejected: 	8
Iteration: 	23 / 50
Confirmed: 	2
Tentative: 	1
Rejected: 	8
Iteration: 	24 / 50
Confirmed: 	2
Tentative: 	1
Rejected: 	8
Iteration: 	25 / 50
Confirmed: 	2
Tentative: 	1
Rejected: 	8
Iteration: 	26 / 50
Confirmed: 	2
Tentative: 	1
Rejected: 	8
Iteration: 	27 / 50
Confirmed: 	2
Tentative: 	1
Rejected: 	8
Iteration: 	28 / 50
Confirmed: 	2
Tentative: 	1
Rejected: 	8
Iteration: 	29 / 50
Confirmed: 	2
Tentative: 	1
Rejected: 	8
Iteration: 	30 / 50
Confirmed: 	2
Tentative: 	1
Rejected: 	8
Iteration: 	31 / 50
Confirmed: 	2
Tentative: 	1
Rejected: 	8
Iteration: 	32 / 50
Confirmed: 	2
Tentative: 	1
Rejected: 	8
Iteration: 	33 / 50
Confirmed: 	2
Tentative: 	1
Rejected: 	8
Iteration: 	34 / 50
Confirmed: 	2
Tentative: 	1
Rejected: 	8
Iteration: 	35 / 50
Confirmed: 	2
Tentative: 	1
Rejected: 	8
Iteration: 	36 / 50
Confirmed: 	2
Tentative: 	1
Rejected: 	8
Iteration: 	37 / 50
Confirmed: 	2
Tentative: 	1
Rejected: 	8
Iteration: 	38 / 50
Confirmed: 	2
Tentative: 	1
Rejected: 	8
Iteration: 	39 / 50
Confirmed: 	2
Tentative: 	1
Rejected: 	8
Iteration: 	40 / 50
Confirmed: 	2
Tentative: 	1
Rejected: 	8
Iteration: 	41 / 50
Confirmed: 	2
Tentative: 	1
Rejected: 	8
Iteration: 	42 / 50
Confirmed: 	2
Tentative: 	1
Rejected: 	8
Iteration: 	43 / 50
Confirmed: 	2
Tentative: 	1
Rejected: 	8
Iteration: 	44 / 50
Confirmed: 	2
Tentative: 	1
Rejected: 	8
Iteration: 	45 / 50
Confirmed: 	2
Tentative: 	1
Rejected: 	8
Iteration: 	46 / 50
Confirmed: 	2
Tentative: 	1
Rejected: 	8
Iteration: 	47 / 50
Confirmed: 	2
Tentative: 	1
Rejected: 	8
Iteration: 	48 / 50
Confirmed: 	2
Tentative: 	1
Rejected: 	8
Iteration: 	49 / 50
Confirmed: 	2
Tentative: 	1
Rejected: 	8


BorutaPy finished running.

Iteration: 	50 / 50
Confirmed: 	2
Tentative: 	0
Rejected: 	8

BorutaPy(alpha=0.05,
         estimator=RandomForestClassifier(bootstrap=True, class_weight=None,
                                          criterion='gini', max_depth=None,
                                          max_features='auto',
                                          max_leaf_nodes=None,
                                          min_impurity_decrease=0.0,
                                          min_impurity_split=None,
                                          min_samples_leaf=1,
                                          min_samples_split=2,
                                          min_weight_fraction_leaf=0.0,
                                          n_estimators=1000, n_jobs=None,
                                          oob_score=False,
                                          random_state=<mtrand.RandomState object at 0x0000021AB0408240>,
                                          verbose=0, warm_start=False),
         max_iter=50, n_estimators=1000, perc=100,
         random_state=<mtrand.RandomState object at 0x0000021AB0408240>,
         two_step=True, verbose=2)

In [131]:
boruta_feature_selector.support_

array([False, False, False, False, False,  True, False, False, False,
        True, False])

In [132]:
df1 = pd.DataFrame( { "Feature Names": colnames , "Importance" : list(boruta_feature_selector.support_)})

In [134]:
df1

        Feature Names  Importance
0              Gender       False
1             Married       False
2          Dependents       False
3           Education       False
4       Self_Employed       False
5     ApplicantIncome        True
6   CoapplicantIncome       False
7          LoanAmount       False
8    Loan_Amount_Term       False
9      Credit_History        True
10      Property_Area       False

In [136]:
df1.sort_values(['Importance'],ascending = False)  ##sort on the basis of importance

        Feature Names  Importance
5     ApplicantIncome        True
9      Credit_History        True
0              Gender       False
1             Married       False
2          Dependents       False
3           Education       False
4       Self_Employed       False
6   CoapplicantIncome       False
7          LoanAmount       False
8    Loan_Amount_Term       False
10      Property_Area       False

# RFE

In [143]:
from sklearn.feature_selection import RFE  ##runs on top of some algorithm ..we can run on top of randomforest and DT also)

# with SVM

In [159]:
from sklearn.svm import LinearSVC #(running on SVM)

In [160]:
svm = LinearSVC()

In [181]:
rfe= RFE(svm, 6)  ## keep increasing the number to get the importance in order

In [182]:
rfe.fit(cr_x, cr_y)

C:\Users\Khushi\Anaconda3\lib\site-packages\sklearn\svm\base.py:929: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)
C:\Users\Khushi\Anaconda3\lib\site-packages\sklearn\svm\base.py:929: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)
C:\Users\Khushi\Anaconda3\lib\site-packages\sklearn\svm\base.py:929: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)
C:\Users\Khushi\Anaconda3\lib\site-packages\sklearn\svm\base.py:929: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)
C:\Users\Khushi\Anaconda3\lib\site-packages\sklearn\svm\base.py:929: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

RFE(estimator=LinearSVC(C=1.0, class_weight=None, dual=True, fit_intercept=True,
                        intercept_scaling=1, loss='squared_hinge',
                        max_iter=1000, multi_class='ovr', penalty='l2',
                        random_state=None, tol=0.0001, verbose=0),
    n_features_to_select=6, step=1, verbose=0)

In [183]:
print(rfe.support_)

[ True  True  True  True False False False False False  True  True]

In [184]:
df2 = pd.DataFrame( { "Feature Names": colnames , "Importance" : list(rfe.support_)})
df2.sort_values(['Importance'], ascending = False )

        Feature Names  Importance
0              Gender        True
1             Married        True
2          Dependents        True
3           Education        True
9      Credit_History        True
10      Property_Area        True
4       Self_Employed       False
5     ApplicantIncome       False
6   CoapplicantIncome       False
7          LoanAmount       False
8    Loan_Amount_Term       False

# with DT and RF

In [185]:
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier()

In [194]:
rfe = RFE(rfc,2)

In [195]:
rfe.fit(cr_x,cr_y)

C:\Users\Khushi\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\Khushi\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\Khushi\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\Khushi\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\Khushi\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\Khushi\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\Khushi\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\Khushi\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\Khushi\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\Khushi\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RFE(estimator=RandomForestClassifier(bootstrap=True, class_weight=None,
                                     criterion='gini', max_depth=None,
                                     max_features='auto', max_leaf_nodes=None,
                                     min_impurity_decrease=0.0,
                                     min_impurity_split=None,
                                     min_samples_leaf=1, min_samples_split=2,
                                     min_weight_fraction_leaf=0.0,
                                     n_estimators='warn', n_jobs=None,
                                     oob_score=False, random_state=None,
                                     verbose=0, warm_start=False),
    n_features_to_select=2, step=1, verbose=0)

In [196]:
print(rfe.support_)

[False False False False False  True False  True False False False]

In [197]:
df3 = pd.DataFrame( { "Feature Names": colnames , "Importance" : list(rfe.support_)})
df3.sort_values(['Importance'], ascending = False )

        Feature Names  Importance
5     ApplicantIncome        True
7          LoanAmount        True
0              Gender       False
1             Married       False
2          Dependents       False
3           Education       False
4       Self_Employed       False
6   CoapplicantIncome       False
8    Loan_Amount_Term       False
9      Credit_History       False
10      Property_Area       False

In [198]:
from sklearn.tree import DecisionTreeClassifier
dtree = DecisionTreeClassifier(min_samples_split = 100)

In [199]:
rfe = RFE(dtree,2)
rfe.fit(cr_x,cr_y)

RFE(estimator=DecisionTreeClassifier(class_weight=None, criterion='gini',
                                     max_depth=None, max_features=None,
                                     max_leaf_nodes=None,
                                     min_impurity_decrease=0.0,
                                     min_impurity_split=None,
                                     min_samples_leaf=1, min_samples_split=100,
                                     min_weight_fraction_leaf=0.0,
                                     presort=False, random_state=None,
                                     splitter='best'),
    n_features_to_select=2, step=1, verbose=0)

In [200]:
print(rfe.support_)

[False False False False False  True False False False  True False]

In [201]:
df4 = pd.DataFrame( { "Feature Names": colnames , "Importance" : list(rfe.support_)})
df4.sort_values(['Importance'], ascending = False )

        Feature Names  Importance
5     ApplicantIncome        True
9      Credit_History        True
0              Gender       False
1             Married       False
2          Dependents       False
3           Education       False
4       Self_Employed       False
6   CoapplicantIncome       False
7          LoanAmount       False
8    Loan_Amount_Term       False
10      Property_Area       False