# LDA

In [2]:
import pandas as pd
from sklearn import decomposition
from sklearn.decomposition import PCA

In [36]:
cgt = pd.read_csv(r"C:\Users\Khushi\Desktop\CGT.csv")

In [42]:
iris = pd.read_excel(r"C:\Users\Khushi\Desktop\iris.xlsx")

In [43]:
iris.head()

   Unnamed: 0  Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           1           5.1          3.5           1.4          0.2  setosa
1           2           4.9          3.0           1.4          0.2  setosa
2           3           4.7          3.2           1.3          0.2  setosa
3           4           4.6          3.1           1.5          0.2  setosa
4           5           5.0          3.6           1.4          0.2  setosa

In [44]:
iris = iris.iloc[:,[1,2,3,4,5]]
iris.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [4]:
cgt.head()

    LB     AC   FM  NSP
0  120  0.000  0.0    2
1  132  0.006  0.0    1
2  133  0.003  0.0    1
3  134  0.003  0.0    1
4  132  0.007  0.0    1

In [10]:
cgt_x = cgt.iloc[:, [0,1,2]]

In [12]:
cgt_x.head()

    LB     AC   FM
0  120  0.000  0.0
1  132  0.006  0.0
2  133  0.003  0.0
3  134  0.003  0.0
4  132  0.007  0.0

In [13]:
cgt_y = cgt.iloc[:,3]

In [23]:
import sklearn

from sklearn.model_selection import train_test_split
cgt_x_train, cgt_x_test,cgt_y_train, cgt_y_test = train_test_split(cgt_x, cgt_y, test_size= 0.2 , random_state = 101)
## seed in R is similar to random_state in Python

In [15]:
cgt_y.head()

0    2
1    1
2    1
3    1
4    1
Name: NSP, dtype: int64

In [33]:
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis as lda

lda =  lda()

lda.fit_transform(cgt_x_train, cgt_y_train)

pred_lda= lda.predict(cgt_x_test)

pred_lda

from sklearn.metrics import confusion_matrix

tab= confusion_matrix (pred_lda, cgt_y_test)
tab

array([[323,  44,  33],
       [  4,  16,   1],
       [  3,   0,   2]], dtype=int64)

In [30]:
tab.diagonal().sum()  / tab.sum() *100   #### gives the accuracy

80.04694835680752

In [35]:
cgt.groupby('NSP').agg(['mean'])

             LB        AC        FM
           mean      mean      mean
NSP
1    131.981873  0.003992  0.007963
2    141.684746  0.000275  0.008332
3    131.687500  0.000392  0.025676

In [34]:
import sklearn

from sklearn.model_selection import train_test_split
cgt_x_train, cgt_x_test,cgt_y_train, cgt_y_test = train_test_split(cgt_x, cgt_y, test_size= 0.2 , random_state = 101)
## seed in R is similar to random_state in Python

In [ ]:
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis as lda

lda =  lda()

lda.fit_transform(cgt_x_train, cgt_y_train)

pred_lda= lda.predict(cgt_x_test)

pred_lda

from sklearn.metrics import confusion_matrix

tab= confusion_matrix (pred_lda, cgt_y_test)
tab