# Problem Statement:

To predict the lung Capacity of a Person given data using Linear regression

# READ DATA

In [69]:
import pandas as pd

lc= pd.read_csv(r"C:\Users\Khushi\Desktop\sep14\LungCapData.csv")

In [70]:
lc.head()

   LungCap  Age  Height Smoke  Gender Caesarean
0    6.475    6    62.1    no    male        no
1   10.125   18    74.7   yes  female        no
2    9.550   16    69.7    no  female       yes
3   11.125   14    71.0    no    male        no
4    4.800    5    56.9    no    male        no

# HOT ENCODING OF CATEGORICAL VARIABLES

In [71]:
lc.Gender.replace({"male":1,"female":0},inplace = True)
lc.Smoke.replace({"yes":1,"no":0},inplace = True)
lc.Caesarean.replace({"yes":1,"no":0},inplace = True)

In [72]:
lc.head()

   LungCap  Age  Height  Smoke  Gender  Caesarean
0    6.475    6    62.1      0       1          0
1   10.125   18    74.7      1       0          0
2    9.550   16    69.7      0       0          1
3   11.125   14    71.0      0       1          0
4    4.800    5    56.9      0       1          0

In [73]:
lc.shape  ## 725 records

(725, 6)

In [74]:
lc.isnull().sum()

LungCap      0
Age          0
Height       0
Smoke        0
Gender       0
Caesarean    0
dtype: int64

In [75]:
lc_x = lc.iloc[ :,1:6]

In [76]:
lc_x.head()

   Age  Height  Smoke  Gender  Caesarean
0    6    62.1      0       1          0
1   18    74.7      1       0          0
2   16    69.7      0       0          1
3   14    71.0      0       1          0
4    5    56.9      0       1          0

In [77]:
lc_y = lc.iloc[:,0]

In [78]:
lc_y.head(2)

0     6.475
1    10.125
Name: LungCap, dtype: float64

# SAMPLING

In [79]:
import sklearn

from sklearn.model_selection import train_test_split

In [80]:
lc_x_train, lc_x_test,lc_y_train, lc_y_test = train_test_split(lc_x, lc_y, test_size= 0.2 , random_state = 101)
## seed in R is similar to random_state in Python

# LINEAR MODELLING AND PREDICTION

In [81]:

from sklearn import linear_model

In [82]:
reg = linear_model.LinearRegression()

In [83]:
reg.fit(lc_x_train, lc_y_train)
pred_val = reg.predict(lc_x_test)

In [84]:
pred_val

array([ 7.54766894,  5.68204508,  6.32558014, 10.79158567,  3.47236857,
        5.63130484,  7.27875094,  4.71141679,  8.91580848,  4.95831192,
       11.72347409,  7.56462836,  5.91965819, 10.37350125,  4.21082044,
        7.82945863,  5.41906185,  7.88227746,  4.6579582 ,  8.00433113,
       11.06137499,  7.67539087,  8.5790287 ,  8.42968843,  8.20135733,
        6.05850917,  9.8407287 ,  9.43496886,  8.03985459, 11.47657896,
        7.90740517,  6.75959055, 10.03728811,  4.85683143, 10.93884735,
        9.04513502,  3.28821404,  8.88635062,  4.40425698,  7.48579965,
        5.69404545,  8.71988882,  7.64073873,  8.61160225,  7.08915972,
        5.98920489,  6.82617649,  8.01569174,  8.52597463,  6.22001192,
        4.28668839,  8.39503629,  6.52173503,  5.43474542,  9.92900154,
       10.49515758, 13.22031126,  4.10005794,  1.03436096,  3.05035852,
       10.78230365, 11.30307584, 10.46074067,  4.86363752,  6.48708289,
        7.91052805, 11.23896584,  2.01698961,  4.45499722,  9.76230451,
        9.77678081, 10.73812708,  9.97045976,  7.11869788, 10.02528774,
        9.20416183,  7.3006117 ,  8.28139332,  8.57135848,  3.92367436,
        5.85963593,  9.36838293,  9.55253745,  3.84883265, 11.05577618,
        7.26675057,  4.88628929,  7.09844174,  7.70484872,  7.99839636,
       10.93452438,  7.90100361,  4.40425698, 10.55125421, 10.21400765,
        4.81017893,  8.72212952,  8.28572348,  8.02104814, 11.61391886,
        3.30798536,  7.29483904, 12.06256769,  7.16798843,  7.97487328,
        7.55101619,  5.02514027,  4.78192834,  7.37503714,  6.18783571,
       10.3755104 ,  2.12775212,  9.50572283,  8.02785422, 11.15789643,
        9.64721185, 10.5725366 ,  8.0024841 ,  9.45105696, 10.33220514,
        5.81120951,  9.80215093,  1.94087925,  7.74469515, 11.08674511,
        9.12333483, 10.98774056, 10.23240957, 10.14124453,  7.81561123,
        3.08525307,  4.97151956, 10.15646132,  6.95302709,  9.83432714,
        8.1452607 ,  8.30283782, 10.48442587,  9.85969726,  8.24937923,
       10.05234279,  9.58743201,  6.76351618,  5.51373625,  8.5165305 ])

In [85]:
reg.coef_   ### b1,b2,b3,b4,b5
reg.intercept_  ## B0
## y= b0+ b1x1 +b2x2 + b3x3 +b4x4 +b5x5 + epsilon

-11.018922745502765

In [86]:
reg.score(lc_x_train, lc_y_train)  ### R-square

0.8676116408504295

In [87]:
lc_x_train.shape

(580, 5)

In [88]:
lc_y_test.shape

(145,)

In [89]:
pred_val.shape

(145,)

In [90]:
## Convert test data and predicted data in Series for concatenation
X= []
for i in lc_y_test:
    X.append(i)
X = pd.Series(X)
    
pred_val= pd.Series(pred_val)
pred_val

0       7.547669
1       5.682045
2       6.325580
3      10.791586
4       3.472369
5       5.631305
6       7.278751
7       4.711417
8       8.915808
9       4.958312
10     11.723474
11      7.564628
12      5.919658
13     10.373501
14      4.210820
15      7.829459
16      5.419062
17      7.882277
18      4.657958
19      8.004331
20     11.061375
21      7.675391
22      8.579029
23      8.429688
24      8.201357
25      6.058509
26      9.840729
27      9.434969
28      8.039855
29     11.476579
         ...
115     9.647212
116    10.572537
117     8.002484
118     9.451057
119    10.332205
120     5.811210
121     9.802151
122     1.940879
123     7.744695
124    11.086745
125     9.123335
126    10.987741
127    10.232410
128    10.141245
129     7.815611
130     3.085253
131     4.971520
132    10.156461
133     6.953027
134     9.834327
135     8.145261
136     8.302838
137    10.484426
138     9.859697
139     8.249379
140    10.052343
141     9.587432
142     6.763516
143     5.513736
144     8.516531
Length: 145, dtype: float64

In [99]:
## compare actual and predicted values
final = pd.concat({"Actual" : X,"Predicted": pred_val}, axis=1,join='outer')
final

     Actual  Predicted
0     7.950   7.547669
1     8.775   5.682045
2     7.350   6.325580
3    11.675  10.791586
4     3.700   3.472369
5     5.875   5.631305
6     5.500   7.278751
7     4.200   4.711417
8     8.025   8.915808
9     4.450   4.958312
10   14.550  11.723474
11    7.825   7.564628
12    6.000   5.919658
13    8.975  10.373501
14    3.400   4.210820
15    7.925   7.829459
16    5.875   5.419062
17    8.025   7.882277
18    6.175   4.657958
19    8.625   8.004331
20   10.100  11.061375
21    7.250   7.675391
22    9.050   8.579029
23    8.200   8.429688
24    7.725   8.201357
25    6.500   6.058509
26    7.175   9.840729
27    8.600   9.434969
28    8.625   8.039855
29    9.925  11.476579
..      ...        ...
115   8.500   9.647212
116  12.375  10.572537
117   7.800   8.002484
118   7.850   9.451057
119   9.900  10.332205
120   3.650   5.811210
121  11.075   9.802151
122   3.100   1.940879
123   8.500   7.744695
124  11.400  11.086745
125  10.275   9.123335
126  10.025  10.987741
127   9.050  10.232410
128  12.125  10.141245
129   8.500   7.815611
130   1.675   3.085253
131   5.250   4.971520
132  11.050  10.156461
133   4.425   6.953027
134  10.750   9.834327
135   8.900   8.145261
136   8.450   8.302838
137  10.600  10.484426
138  11.350   9.859697
139   8.900   8.249379
140  11.025  10.052343
141   9.675   9.587432
142   4.950   6.763516
143   4.325   5.513736
144   8.725   8.516531

[145 rows x 2 columns]

# PICKLE

In [92]:
### SAVE the model
import pickle

with open('reg_cr', 'wb') as f:   ###write format
    pickle.dump(reg, f)

###LOAD the model

with open('reg_cr', 'rb')as f:   ##read format
    reg_cr1 = pickle.load(f)

In [93]:
reg_cr1.predict(lc_x_test)

array([ 7.54766894,  5.68204508,  6.32558014, 10.79158567,  3.47236857,
        5.63130484,  7.27875094,  4.71141679,  8.91580848,  4.95831192,
       11.72347409,  7.56462836,  5.91965819, 10.37350125,  4.21082044,
        7.82945863,  5.41906185,  7.88227746,  4.6579582 ,  8.00433113,
       11.06137499,  7.67539087,  8.5790287 ,  8.42968843,  8.20135733,
        6.05850917,  9.8407287 ,  9.43496886,  8.03985459, 11.47657896,
        7.90740517,  6.75959055, 10.03728811,  4.85683143, 10.93884735,
        9.04513502,  3.28821404,  8.88635062,  4.40425698,  7.48579965,
        5.69404545,  8.71988882,  7.64073873,  8.61160225,  7.08915972,
        5.98920489,  6.82617649,  8.01569174,  8.52597463,  6.22001192,
        4.28668839,  8.39503629,  6.52173503,  5.43474542,  9.92900154,
       10.49515758, 13.22031126,  4.10005794,  1.03436096,  3.05035852,
       10.78230365, 11.30307584, 10.46074067,  4.86363752,  6.48708289,
        7.91052805, 11.23896584,  2.01698961,  4.45499722,  9.76230451,
        9.77678081, 10.73812708,  9.97045976,  7.11869788, 10.02528774,
        9.20416183,  7.3006117 ,  8.28139332,  8.57135848,  3.92367436,
        5.85963593,  9.36838293,  9.55253745,  3.84883265, 11.05577618,
        7.26675057,  4.88628929,  7.09844174,  7.70484872,  7.99839636,
       10.93452438,  7.90100361,  4.40425698, 10.55125421, 10.21400765,
        4.81017893,  8.72212952,  8.28572348,  8.02104814, 11.61391886,
        3.30798536,  7.29483904, 12.06256769,  7.16798843,  7.97487328,
        7.55101619,  5.02514027,  4.78192834,  7.37503714,  6.18783571,
       10.3755104 ,  2.12775212,  9.50572283,  8.02785422, 11.15789643,
        9.64721185, 10.5725366 ,  8.0024841 ,  9.45105696, 10.33220514,
        5.81120951,  9.80215093,  1.94087925,  7.74469515, 11.08674511,
        9.12333483, 10.98774056, 10.23240957, 10.14124453,  7.81561123,
        3.08525307,  4.97151956, 10.15646132,  6.95302709,  9.83432714,
        8.1452607 ,  8.30283782, 10.48442587,  9.85969726,  8.24937923,
       10.05234279,  9.58743201,  6.76351618,  5.51373625,  8.5165305 ])

In [27]:
reg.coef_    ###Previous model

array([ 0.18687287,  0.25370122, -0.60703588,  0.37646409, -0.1482951 ])

In [26]:
reg_cr1.coef_   ###New loaded model

array([ 0.18687287,  0.25370122, -0.60703588,  0.37646409, -0.1482951 ])