#  MULTICOLLINEARITY IN THIS DATA #######

In [25]:
import pandas as pd

bf =  pd.read_csv(r"C:\Users\Khushi\Desktop\sep14\bodyfat.csv")

In [26]:
bf.head()

   Bodyfat  Age  Weight  Height  Neck  Chest  Abdomen  Ankle  Biceps  Wrist
0     32.3   41  247.25   73.50  42.1  117.0    115.6   26.3    37.3   19.7
1     22.5   31  177.25   71.50  36.2  101.1     92.4   24.6    30.1   18.2
2     22.0   42  156.25   69.00  35.5   97.8     86.0   24.0    31.2   17.4
3     12.3   23  154.25   67.75  36.2   93.1     85.2   21.9    32.0   17.1
4     20.5   46  177.00   70.00  37.2   99.7     95.6   22.5    29.1   17.7

In [27]:
bf_x = bf.iloc[:,1:10]

In [28]:
bf_x.corr()

,Age,Weight,Height,Neck,Chest,Abdomen,Ankle,Biceps,Wrist
Age,1.000000,-0.097905,-0.268673,0.038501,0.072908,0.141339,-0.073522,-0.079398,0.216315
Weight,-0.097905,1.000000,0.568433,0.838977,0.916047,0.888317,0.790388,0.786266,0.755123
Height,-0.268673,0.568433,1.000000,0.370396,0.345312,0.265403,0.454985,0.435460,0.420928
Neck,0.038501,0.838977,0.370396,1.000000,0.789799,0.769086,0.664068,0.701067,0.777259
Chest,0.072908,0.916047,0.345312,0.789799,1.000000,0.922728,0.700092,0.730124,0.695795
Abdomen,0.141339,0.888317,0.265403,0.769086,0.922728,1.000000,0.643211,0.652148,0.672061
Ankle,-0.073522,0.790388,0.454985,0.664068,0.700092,0.643211,1.000000,0.650841,0.688320
Biceps,-0.079398,0.786266,0.435460,0.701067,0.730124,0.652148,0.650841,1.000000,0.630473
Wrist,0.216315,0.755123,0.420928,0.777259,0.695795,0.672061,0.688320,0.630473,1.000000

In [29]:
bf.head()

   Bodyfat  Age  Weight  Height  Neck  Chest  Abdomen  Ankle  Biceps  Wrist
0     32.3   41  247.25   73.50  42.1  117.0    115.6   26.3    37.3   19.7
1     22.5   31  177.25   71.50  36.2  101.1     92.4   24.6    30.1   18.2
2     22.0   42  156.25   69.00  35.5   97.8     86.0   24.0    31.2   17.4
3     12.3   23  154.25   67.75  36.2   93.1     85.2   21.9    32.0   17.1
4     20.5   46  177.00   70.00  37.2   99.7     95.6   22.5    29.1   17.7

In [30]:
bf.shape  ## 725 records

(100, 10)

In [31]:
bf.isnull().sum()

Bodyfat    0
Age        0
Weight     0
Height     0
Neck       0
Chest      0
Abdomen    0
Ankle      0
Biceps     0
Wrist      0
dtype: int64

In [32]:
bf_y = bf.iloc[ :,0]
bf_y

0     32.3
1     22.5
2     22.0
3     12.3
4     20.5
5     22.6
6     28.7
7     21.3
8     29.9
9     21.3
10    29.9
11    20.4
12    16.9
13    14.7
14    10.8
15    26.7
16    11.3
17    18.1
18     8.8
19    11.8
20    11.0
21    14.9
22    31.9
23    17.3
24    30.7
25    40.1
26    34.5
27    23.3
28     6.0
29    24.5
      ...
70    10.6
71     6.3
72     5.2
73    20.4
74    24.8
75    25.3
76    18.2
77    26.8
78    26.0
79     9.4
80    17.0
81    14.1
82    16.6
83    18.8
84    16.0
85    16.5
86    20.8
87     7.8
88    13.8
89    17.4
90    22.1
91    27.2
92    28.4
93     3.7
94    10.3
95    20.1
96    29.4
97    13.0
98    25.2
99     4.0
Name: Bodyfat, Length: 100, dtype: float64

# SAMPLING

In [33]:
import sklearn

from sklearn.model_selection import train_test_split

In [34]:
lc_x_train, lc_x_test,lc_y_train, lc_y_test = train_test_split(lc_x, lc_y, test_size= 0.2 , random_state = 101)
## seed in R is similar to random_state in Python

NameError: name 'lc_x' is not defined

# LINEAR MODELLING

In [35]:

from sklearn import linear_model

In [36]:
reg = linear_model.LinearRegression()

In [37]:
reg.fit(bf_x, bf_y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [38]:
pred_val = reg.predict(bf_x)
pred_val

array([33.07576492, 18.0918425 , 16.31112744, 14.97288931, 23.29454055,
       23.98913666, 26.35737188, 19.55923188, 29.48546109, 22.50432415,
       26.06861731, 20.72101129, 17.35243672, 12.52384121,  6.00443618,
       25.10109166, 14.86544856, 13.91298058, 13.51318573, 17.0680793 ,
       15.31315485, 15.8376429 , 28.76909167, 11.36121537, 26.2448241 ,
       39.44000243, 37.517775  , 19.26791739, 15.18279467, 23.33154731,
       27.45812261, 20.52488275, 23.26735709, 24.34133662, 10.32877093,
       24.02090608,  9.98326858, 14.7693591 , 17.03022846, 22.1812068 ,
       18.47267149, 16.32173622, 20.53132466, 27.20739395, 14.76117054,
       21.12971998, 20.23187325, 34.50257462, 11.87644873, 17.06402782,
       10.8063184 , 22.03903916,  7.38477586, 12.17491606, 12.65621994,
       16.55450634, 24.93984374, 26.1063145 , 17.92221596, 13.42287184,
       18.77764653, 17.62719522,  7.01831269, 15.04946703,  6.85499377,
       26.69766708, 15.93177179,  9.25044756,  9.06317213, 15.87432041,
       18.88809357,  9.70761059, 16.18191044, 21.51176725, 23.36756138,
       25.83188751, 18.15117828, 20.48392197, 30.32673826,  5.673202  ,
       15.37711538, 12.85234789, 18.33051659, 25.46320473, 16.71808466,
       16.29004166, 17.64151139, 12.38108207, 15.37723621, 16.82333501,
       16.82528027, 25.56538845, 21.77209   ,  8.33324624,  9.73829763,
       17.57467207, 26.71837395, 14.52829908, 27.3455554 ,  5.12526913])

In [39]:
reg.coef_   ### b1,b2,b3,b4,b5
reg.intercept_  ## B0
## y= b0+ b1x1 +b2x2 + b3x3 +b4x4 +b5x5 + epsilon

-23.664199886469792

In [40]:
reg.coef_

array([ 8.37793344e-02, -8.33221931e-02,  3.59322556e-02,  1.12299488e-03,
       -1.38741586e-01,  1.03274094e+00,  2.25942608e-01,  1.48276392e-01,
       -2.20339906e+00])

In [41]:
reg.score(bf_x, bf_y)  ### R-square

0.7574718145674211

In [42]:
adjusted_r_square = float(1 - ((1-reg.score(lc_x_train, lc_y_train))(580-1)/580-5-1))  ##adjusted r square

NameError: name 'lc_x_train' is not defined

# LASSOS

In [ ]:
from sklearn.linear_model import Lasso

In [43]:
lasso=Lasso()

In [44]:
lasso.fit(bf_x, bf_y)

Lasso(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=1000,
      normalize=False, positive=False, precompute=False, random_state=None,
      selection='cyclic', tol=0.0001, warm_start=False)

In [45]:
lasso.coef_

array([ 0.01459462, -0.13525194, -0.        , -0.        , -0.        ,
        0.96688777, -0.        ,  0.        , -0.        ])

# RIDGE

In [46]:
from sklearn.linear_model import Ridge

In [47]:
ridge = Ridge()

In [48]:
ridge.fit(bf_x,bf_y)

Ridge(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001)

In [49]:
ridge.predict(bf_x)

array([33.04237661, 18.11710727, 16.28443645, 14.9822037 , 23.27043719,
       23.99671372, 26.37691585, 19.55353224, 29.39784443, 22.46145545,
       26.04556605, 20.75576154, 17.34140886, 12.51603363,  6.0367129 ,
       25.11225082, 14.85858425, 13.85646209, 13.51936712, 17.00356878,
       15.38447391, 15.81161178, 28.85236984, 11.38983526, 26.28372917,
       39.37761555, 37.61790321, 19.26333749, 15.16413386, 23.35871454,
       27.41475949, 20.54006645, 23.32433365, 24.3161525 , 10.36469678,
       23.96026026, 10.01573622, 14.77654274, 17.04972773, 22.18734693,
       18.44740226, 16.30956655, 20.52922887, 27.15370802, 14.79151911,
       21.04740924, 20.28890595, 34.46814816, 11.90922216, 17.0432843 ,
       10.77911208, 21.99582252,  7.4481802 , 12.14902921, 12.64788924,
       16.48869553, 24.98662264, 26.14593228, 17.97635632, 13.40503078,
       18.75809689, 17.61154127,  7.01342734, 15.06962637,  6.85979798,
       26.73008376, 15.90294844,  9.30792062,  9.0538404 , 15.82331146,
       18.85661235,  9.75596617, 16.13392754, 21.42805853, 23.34274672,
       25.9115627 , 18.18276614, 20.44170861, 30.26234446,  5.76826529,
       15.33273937, 12.86868056, 18.31857469, 25.50831718, 16.71286034,
       16.3204589 , 17.64409532, 12.35984102, 15.43849372, 16.89478156,
       16.82885849, 25.55016054, 21.76487438,  8.3618755 ,  9.74828744,
       17.56349399, 26.63968962, 14.61854128, 27.31224376,  5.10542756])

# ridge coeff

In [50]:
print(list(ridge.coef_))  ## values of coefficients are  a bit lower than linear

[0.08163351848683262, -0.0842158757028082, 0.03312491732399934, -0.013235660629592381, -0.1368397117054755, 1.0327911018226676, 0.20932576276169368, 0.14674991467517504, -2.1210462103146055]

# linear reg coeff

In [51]:
print(list(reg.coef_))

[0.08377933438604604, -0.08332219313213331, 0.03593225564143872, 0.0011229948790046176, -0.13874158595231734, 1.0327409379140948, 0.22594260805452301, 0.14827639214847504, -2.2033990564504498]

# lasso coeff

In [55]:
print(list(lasso.coef_))  ## can be used for feature selection

[0.014594621279991022, -0.1352519356100266, -0.0, -0.0, -0.0, 0.9668877689527671, -0.0, 0.0, -0.0]

# RFE

In [78]:
from sklearn.feature_selection import RFE 
rfe = RFE(reg, 5)

In [79]:
rfe.fit(bf_x, bf_y)

RFE(estimator=LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
                               normalize=False),
    n_features_to_select=5, step=1, verbose=0)

In [80]:
print(rfe.support_)

[ True False False False  True  True False  True  True]

In [81]:
df = pd.DataFrame( { "Feature Names": list(bf_x.columns) , "Importance" : list(rfe.support_)})
df.sort_values(['Importance'], ascending = False )

  Feature Names  Importance
0           Age        True
4         Chest        True
5       Abdomen        True
7        Biceps        True
8         Wrist        True
1        Weight       False
2        Height       False
3          Neck       False
6         Ankle       False

In [ ]:
## wrist, abdoment, chest, age , biceps