# PCA dimensionality reduction (but not the feature selection)

In [ ]:
import pandas as pd
from sklearn import decomposition
from sklearn.decomposition import PCA

In [ ]:
cancer = pd.read_csv(r"C:\Users\Khushi\Desktop\BreastCancer.csv")
cancer.dropna(inplace= True)

In [1]:
cancer.head()

NameError: name 'cancer' is not defined

In [ ]:
cancer.h

In [8]:
cancer_x = cancer.iloc[:, [2,3,4,5,6,7,8,9,10]]

In [9]:
cancer_x.head()

,Cl.thickness,Cell.size,Cell.shape,Marg.adhesion,Epith.c.size,Bare.nuclei,Bl.cromatin,Normal.nucleoli,Mitoses
0,5,1,1,1,2,1.0,3,1,1
1,5,4,4,5,7,10.0,3,2,1
2,3,1,1,1,2,2.0,3,1,1
3,6,8,8,1,3,4.0,3,7,1
4,4,1,1,3,2,1.0,3,1,1

In [20]:
cancer_y = cancer.iloc[:,11]

In [21]:
cancer_y.head()

0    benign
1    benign
2    benign
3    benign
4    benign
Name: Class, dtype: object

# Scale values

In [24]:
## the data becomes unitless, so we scale
from sklearn.preprocessing import StandardScaler

In [25]:
scaler = StandardScaler()
scaler.fit(cancer_x)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [26]:
scaled_cancer_x = scaler.transform(cancer_x)

In [27]:
scaled_cancer_x

array([[ 0.19790469, -0.70221201, -0.74177362, ..., -0.18182716,
        -0.61292736, -0.34839971],
       [ 0.19790469,  0.27725185,  0.26278299, ..., -0.18182716,
        -0.28510482, -0.34839971],
       [-0.51164337, -0.70221201, -0.74177362, ..., -0.18182716,
        -0.61292736, -0.34839971],
       ...,
       [ 0.19790469,  2.23617957,  2.2718962 , ...,  1.86073779,
         2.33747554,  0.22916583],
       [-0.15686934,  1.58320366,  0.93248739, ...,  2.67776377,
         1.02618536, -0.34839971],
       [-0.15686934,  1.58320366,  1.6021918 , ...,  2.67776377,
         0.37054027, -0.34839971]])

# BUILD PCA

In [28]:
pca = decomposition.PCA()

In [29]:
cancer_pca1 = pca.fit(scaled_cancer_x)

In [30]:
x_pca1= pca.transform(scaled_cancer_x)

In [32]:
x_pca1.shape

(683, 9)

In [35]:
cancer_x.shape

(683, 9)

In [36]:
x_pca1

array([[-1.47017124, -0.10427315, -0.56568529, ...,  0.34940296,
         0.42034379, -0.00569139],
       [ 1.44204641, -0.57014143,  0.23660094, ..., -1.11589908,
         0.3795772 ,  0.02342708],
       [-1.59247769, -0.07611987,  0.0488577 , ...,  0.23274019,
         0.20980017,  0.01337162],
       ...,
       [ 3.78926071, -0.14220878,  0.66214439, ...,  0.70411007,
        -0.56962229, -0.06980149],
       [ 2.24000695, -1.09128677,  1.03189011, ...,  1.72150472,
        -0.1482979 ,  0.39438998],
       [ 2.63246243, -1.18469814,  1.10489436, ...,  1.85928013,
        -0.35829375, -0.09227611]])

In [39]:
pca.explained_variance_ratio_   ## variance explained by each principal component

array([0.65549993, 0.08621632, 0.05991692, 0.05106972, 0.04225287,
       0.03354183, 0.03271141, 0.02897065, 0.00982036])

In [40]:
## to build a model, convert it into data frame
pca2 = pd.DataFrame(x_pca1)

In [43]:
pca2.head()

,0,1,2,3,4,5,6,7,8
0,-1.470171,-0.104273,-0.565685,-0.031959,-0.150998,0.060021,0.349403,0.420344,-0.005691
1,1.442046,-0.570141,0.236601,-0.478150,1.643085,-0.483035,-1.115899,0.379577,0.023427
2,-1.592478,-0.076120,0.048858,-0.092388,-0.059739,-0.279371,0.232740,0.209800,0.013372
3,1.479812,-0.528452,-0.603048,1.410827,-0.560737,0.063028,-0.211115,-1.607095,0.182777
4,-1.344862,-0.090719,0.029997,-0.338284,-0.108829,0.431370,0.259862,0.446655,-0.038820

In [46]:
## rename columns
pca2.rename(columns = {pca2.columns[0] : "PC1",pca2.columns[1] : "PC2",
                      pca2.columns[2] : "PC3",
                      pca2.columns[3] : "PC4",
                      pca2.columns[4] : "PC5",
                      pca2.columns[5] : "PC6",
                      pca2.columns[6] : "PC7",
                      pca2.columns[7] : "PC8",
                      pca2.columns[8] : "PC9"}, inplace= True)

In [47]:
pca2.head()

,PC1,PC2,PC3,PC4,PC5,PC6,PC7,PC8,PC9
0,-1.470171,-0.104273,-0.565685,-0.031959,-0.150998,0.060021,0.349403,0.420344,-0.005691
1,1.442046,-0.570141,0.236601,-0.478150,1.643085,-0.483035,-1.115899,0.379577,0.023427
2,-1.592478,-0.076120,0.048858,-0.092388,-0.059739,-0.279371,0.232740,0.209800,0.013372
3,1.479812,-0.528452,-0.603048,1.410827,-0.560737,0.063028,-0.211115,-1.607095,0.182777
4,-1.344862,-0.090719,0.029997,-0.338284,-0.108829,0.431370,0.259862,0.446655,-0.038820

In [48]:
df2 = pd.concat([pca2, cancer.iloc[:,-1]],axis=1)

In [49]:
df2.head()

,PC1,PC2,PC3,PC4,PC5,PC6,PC7,PC8,PC9,Class
0,-1.470171,-0.104273,-0.565685,-0.031959,-0.150998,0.060021,0.349403,0.420344,-0.005691,benign
1,1.442046,-0.570141,0.236601,-0.478150,1.643085,-0.483035,-1.115899,0.379577,0.023427,benign
2,-1.592478,-0.076120,0.048858,-0.092388,-0.059739,-0.279371,0.232740,0.209800,0.013372,benign
3,1.479812,-0.528452,-0.603048,1.410827,-0.560737,0.063028,-0.211115,-1.607095,0.182777,benign
4,-1.344862,-0.090719,0.029997,-0.338284,-0.108829,0.431370,0.259862,0.446655,-0.038820,benign

In [50]:
df2.Class.replace({"benign" : 0 , "malignant":1},inplace = True)

In [51]:
df2.head()

,PC1,PC2,PC3,PC4,PC5,PC6,PC7,PC8,PC9,Class
0,-1.470171,-0.104273,-0.565685,-0.031959,-0.150998,0.060021,0.349403,0.420344,-0.005691,0.0
1,1.442046,-0.570141,0.236601,-0.478150,1.643085,-0.483035,-1.115899,0.379577,0.023427,0.0
2,-1.592478,-0.076120,0.048858,-0.092388,-0.059739,-0.279371,0.232740,0.209800,0.013372,0.0
3,1.479812,-0.528452,-0.603048,1.410827,-0.560737,0.063028,-0.211115,-1.607095,0.182777,0.0
4,-1.344862,-0.090719,0.029997,-0.338284,-0.108829,0.431370,0.259862,0.446655,-0.038820,0.0

# Decison tree

In [52]:
from sklearn.tree import DecisionTreeClassifier

In [70]:
dt = DecisionTreeClassifier()

In [ ]:
df2.dropna(inplace=True)

In [72]:
dt.fit( df2.iloc[ :, [0,1,2,3,4,5]],  df2.iloc[:, 9])

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [69]:
df2.isnull().sum()

PC1      0
PC2      0
PC3      0
PC4      0
PC5      0
PC6      0
PC7      0
PC8      0
PC9      0
Class    0
dtype: int64

In [75]:
pred_dt = dt.predict( df2.iloc[ :, [0,1,2,3,4,5]])

In [74]:
from sklearn.metrics import confusion_matrix

In [76]:
tab= confusion_matrix(pred_dt, df2.iloc[:,9])

In [77]:
tab

array([[427,  71],
       [  5, 164]], dtype=int64)

In [78]:
tab.diagonal().sum()/tab.sum() * 100

88.6056971514243