In [2]:
a=10
print(a)
print(" Value of a is",a )

10
 Value of a is 10

In [5]:
set = (1,2,3,4,5,5,5,5,5,5,6)
print(set)

(1, 2, 3, 4, 5, 5, 5, 5, 5, 5, 6)

In [6]:
numbers = set{[1,2,3,4,5,2,1]}

SyntaxError: invalid syntax (<ipython-input-6-264f5cbc9ca2>, line 1)

In [7]:
numbers = set([1,2,3,45,1,2])

TypeError: 'tuple' object is not callable

In [8]:
numbers = set({1,2,3,45,1,2})

TypeError: 'tuple' object is not callable

In [9]:
a=10
b=20
c=30

print(a,b)

10 20

In [10]:
print(a+b)

30

In [11]:
import pandas as pd

In [30]:
emply_data = dict({"name" :('a','b','c'),"age" : (24,25,30),"salary":(10000,20000,2000)})
import pandas as pd
emply_data_df= pd.DataFrame(emply_data)

In [31]:
emply_data_df

  name  age  salary
0    a   24   10000
1    b   25   20000
2    c   30    2000

In [32]:
emply_data.keys()

dict_keys(['name', 'age', 'salary'])

In [33]:
emply_data.values()

dict_values([('a', 'b', 'c'), (24, 25, 30), (10000, 20000, 2000)])

In [34]:
numbers = set([1,2,3,41,1,15])

TypeError: 'tuple' object is not callable

In [ ]:
numbers

In [ ]:
]

In [15]:
country = "india"
city= "pune"
print(country + " " +city)

india pune

In [21]:
##formatting- . format printing

name = "bob"
age = 35
print("his name is {} and age is {}".format(name,age,age))

his name is bob and age is 35

In [28]:
import pandas as pd
emply_data_df= pd.DataFrame(emply_data)